body { color:#101010; }

a:link, a:visited,
#navigation ul li a, #navigation ul.sf-menu li a { color:#e29300; }

a:hover, a:active, a:focus { color:#e29300; }

h1, h2, h3, h4, h5, h6 { color:#101010; }

#header #site-name a { color:#194973; }

#header #site-name a:hover { color: #263973; }

#header #site-slogan { color: #101010; }

body { border-color:#194973; }

#wrap { border-color:#e29300; }

#footer { background-color:#ffffff; }

#footer { border-color:#d6d6d6; }

